<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>PhotoSync 需要访问您的相册来读取和上传照片</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>PhotoSync 需要将云端照片保存到您的相册</string>
    <key>BGTaskSchedulerPermittedIdentifiers</key>
    <array>
        <string>com.photosync.backgroundupload</string>
    </array>
    <key>UIBackgroundModes</key>
    <array>
        <string>fetch</string>
        <string>processing</string>
    </array>
</dict>
</plist>
